@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap');



h1{
    font-family: 'Nunito', sans-serif;
    font-size: 45px;
    text-align: center;
    color: rgb(236, 194, 255);
    text-shadow: 3px 3px rgb(0, 0, 0);
}

.primoparagrafo{
    font-family: 'Nunito', sans-serif;
    font-size: 27.5px;
    text-align: center;
    color: rgb(236, 194, 255);
    text-shadow: 2px 2px rgb(0, 0, 0);
}

body{
    background: linear-gradient(to top, #ff00c8, rgb(68, 0, 255));
    background-repeat: no-repeat;
    height: 901px;
}

.tiktok {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 685px;
    top: 450px;
    border-radius: 50%;
}

.instagram {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 835px;
    top: 450px;
   
}

.youtube {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 985px;
    top: 450px;
    
}

.twitter {
    width: 50px;
    height: none;
    position: absolute;
    left: 1135px;
    display: block;
    top: 450px;
   
}

.secparagrafo{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(236, 194, 255);
    text-shadow: 2px 2px rgb(0, 0, 0);
}

.collab{
    font-family: 'Nunito', sans-serif;
    font-size: 16.5px;
    color: rgb(236, 194, 255);
    text-shadow: 2px 2px rgb(0, 0, 0);
    top: 870px;
    position: absolute;
}

.team{
    font-family: 'Nunito', sans-serif;
    font-size: 22.5px;
    color: rgb(236, 194, 255);
    text-shadow: 2px 2px rgb(0, 0, 0);
    position: absolute;
    left: 1600px;
    top: 10px;
}

.team2{
    font-family: 'Nunito', sans-serif;
    font-size: 22.5px;
    color: rgb(236, 194, 255);
    text-shadow: 2px 2px rgb(0, 0, 0);
    position: absolute;
    left: 1700px;
    top: 10px;
}

